body {
  margin: 0;
  background: #202124;
  height: 100%;
}

html {
  height: 100%;
}

input {
  border: 0;
  background: #202124;
  color: #E8EAED;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.topBar {
  height: 40px;
  width: 100%;
  background: #292A2D;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 8px 20px;
}
.topBar > .title{
  color:rgba(232,234,237,1);
  float: left;
  line-height: 48px;
}
.topBar > input {
  height: 100%;
  width: 500px;
  background: url("img/search.svg") 10px center no-repeat;
  padding-left: 40px;
}

.card {
  padding: 10px;
}
.cardTitle{
  margin: 10px 0;
}
.cardTitle > .title {
  color: rgba(232,234,237,1);
  vertical-align: super;
  margin-left: 10px;
}
.cardContainer {
  background: #292A2D;
  padding: 0 20px;
}

.ruleContainer {
  display: flex;
  justify-content: space-between;
  border: solid #979797;
  border-width: 0 0 1px 0;
  margin: 0 -20px;
  padding: 10px;
}
#createRule > .text {
  color: #0C5FF5;
  vertical-align: super;
}
.ruleContainer > input {
  border-radius:5px
}
.ruleContainer > input:focus {
  outline: none;
  border: #0C5FF5 solid 1px;
}
