body {
  margin: 0;
  background: #202124;
  height: 100%;
}

html {
  height: 100%;
}

input {
  border: 0;
  background: #202124;
  color: #E8EAED;
  border-radius:5px;
  outline:none;
  transition: .3s;
  padding-left: 6px;
}
input:focus {
  box-shadow: inset 0 0 4px 1px #356DF2;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

#createRule > .text {
  color: #0C5FF5;
}
#createRule > icon-svg {
  font-size: 24px;
}
#createRule > * {
  vertical-align: middle;
}

.config {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
  padding: 10px;
  color: #FFFFFF;
}
.config.import{
  border: solid rgb(76,77,78);
  border-width: 0 0 1px 0;
}
.config > button {
  background: #292A2D;
  border-radius: 5px;
  color: #356DF2;
  padding: 8px;
  border: 1px solid #5F6368;
  transition: .3s;
}
.config > button:hover {
  background: #5F6368;
  cursor: pointer;
}
.config > span {
  line-height: 30px;
}

